<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" id="form-container">
    <div class="form-field">
        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="expenseForm.get('date')?.hasError('required')">
                Date is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-field">
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of expenseTypes" [value]="type.value">
                    {{ type.label }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="expenseForm.get('type')?.hasError('required')">
                Type is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-field">
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
            <mat-error *ngIf="expenseForm.get('description')?.hasError('required')">
                Description is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-field">
        <mat-form-field appearance="fill">
            <mat-label>Value (R$)</mat-label>
            <input matInput formControlName="value" type="text" currencyMask [options]="{prefix:'R$', thousands:'.', decimal:',', align:'left', allowNegative: true}" />
            <mat-error *ngIf="expenseForm.get('value')?.hasError('required')">
                Amount is required.
            </mat-error>
            <mat-error *ngIf="expenseForm.get('value')?.hasError('pattern')">
                Invalid format (e.g., 100.00).
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="expenseForm.invalid">
            Save
        </button>
    </div>
</form>
