<main>
    <div class="container">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-4">Expense Consultation</h1>
            </div>
        </div>

        <div class="row justify-content-center teste">
            <div class="col-md-6">

                <form [formGroup]="searchForm">
                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Date</mat-label>
                            <input matInput formControlName="date" [matDatepicker]="picker" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="searchForm.get('date')?.hasError('required')">
                                Date is required.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of expenseTypes" [value]="type.value">
                                    {{ type.label }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.get('type')?.hasError('required')">
                                Type is required.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description" />
                            <mat-error *ngIf="searchForm.get('description')?.hasError('required')">
                                Description is required.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Amount R$</mat-label>
                            <input matInput formControlName="value" type="text" currencyMask
                                [options]="{prefix:'R$', thousands:'.', decimal:',', align:'left', allowNegative: true}" />
                            <mat-error *ngIf="searchForm.get('value')?.hasError('required')">
                                Amount is required.
                            </mat-error>
                            <mat-error *ngIf="searchForm.get('value')?.hasError('pattern')">
                                Invalid format (e.g., 100.00).
                            </mat-error>
                        </mat-form-field>
                    </div>

                </form>

                <div class="d-flex justify-content-between align-items-center gap-4 mt-1 mb-2">
                    <div class="buttom-search" (click)="searchExpenses()">
                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                    </div>
                    <button class="buttom-clear btn btn-primary" id="clearFiltersButton" style="color: #ffffff;font-weight: bold;"  (click)="clearFilters()">
                        Clear Filters <i class="fa fa-eraser" style="color: #fbfdff;"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="expensesTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let expense of filteredExpenses">
                        <td>{{ expense.date | date:'MM/dd/yyyy ' }}</td>
                        <td>{{ expense.type }}</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.value | currency:'BRL':'symbol':'1.2-2' }}</td>
                        <td class="d-flex justify-content-center">
                            <div class="buttom-delete" (click)="removeExpense(expense.id)">
                                <i class="fa-solid fa-trash fa-xl" style="color: #f00808;"></i>
                            </div>
                            <div class="buttom-edit fa-xl" (click)="editExpense(expense)">
                                <i class="fa-solid fa-pencil" style="color: #74C0FC;"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between mb-2">
                <button id="prevPage" class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 0">Previous Page</button>
                <button id="nextPage" class="btn btn-secondary" (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= expenses.length">Next Page</button>
            </div>
        </div>
    </div>
</main>
