<main>
    <div class="container">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-4">Consulta de despesas</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">

                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Data</mat-label>
                            <input matInput formControlName="date" [matDatepicker]="picker" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="searchForm.get('date')?.hasError('required')">
                                Data é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of expenseTypes" [value]="type.value">
                                    {{ type.label }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.get('type')?.hasError('required')">
                                Tipo é obrigatório.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Descrição</mat-label>
                            <input matInput formControlName="description" />
                            <mat-error *ngIf="searchForm.get('description')?.hasError('required')">
                                Descrição é obrigatória.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-field mb-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Valor R$</mat-label>
                            <input matInput formControlName="value" type="text" currencyMask
                                [options]="{prefix:'R$', thousands:'.', decimal:',', align:'left', allowNegative: true}" />
                            <mat-error *ngIf="searchForm.get('value')?.hasError('required')">
                                Valor é obrigatório.
                            </mat-error>
                            <mat-error *ngIf="searchForm.get('value')?.hasError('pattern')">
                                Formato inválido (ex: 100.00).
                            </mat-error>
                        </mat-form-field>
                    </div>

                </form>

            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" id="searchButton">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-primary" id="clearFiltersButton" style="color: #ffffff;font-weight: bold;">
                Limpar Filtros <i class="fa fa-eraser" style="color: #fbfdff;"></i>
            </button>
        </div>

        <div class="table-responsive">
            <table class="table" id="expensesTable">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button id="prevPage" class="btn btn-secondary">Página Anterior</button>
            <button id="nextPage" class="btn btn-secondary">Próxima Página</button>
        </div>
    </div>
</main>