<main>
    <div>
        <h2 class="text-center">Sum Expenses</h2>
    </div>

    <div class="container">
        <select class="form-control" id="type" (change)="sumExpensesByType($event)">
            <option value="">Choose the expense type to sum</option>
            <option value="Food">Food</option>
            <option value="Education">Education</option>
            <option value="Leisure">Leisure</option>
            <option value="Health">Health</option>
            <option value="Transport">Transport</option>
        </select>
    </div>

    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table" id="expensesSumTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Total Spent

                            <button *ngIf="selectedType" class="btn btn-sm btn-info float-end" (click)="resetTable()"> Back</button>

                        </th>
                    </tr>
                </thead>

                <tbody *ngIf="allTotals.length > 0">
                    <tr *ngFor="let item of allTotals">
                        <td>{{ item.type }}</td>
                        <td>{{ item.total | currency: 'BRL' }}</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td><strong>{{ total | currency:'BRL' }}</strong></td>
                    </tr>
                </tbody>

                <tbody *ngIf="total > 0 && allTotals.length === 0">
                    <tr>
                        <td> {{ selectedType }} </td>
                        <td>{{ total | currency:'BRL' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
