<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of fields" class="form-group">
            <!-- Campo de texto (exceto select) -->
            <mat-form-field *ngIf="field.type !== 'select'" appearance="fill" class="form-field">
                <mat-label>{{ field.label }}</mat-label>
                <input
                    matInput
                    [id]="field.key"
                    [type]="field.type"
                    [formControlName]="field.key"
                    [required]="field.required"
                    appCurrencyMask
                    *ngIf="field.key === 'valor'"
                />
                <input
                    matInput
                    [id]="field.key"
                    [type]="field.type"
                    [formControlName]="field.key"
                    [required]="field.required"
                    *ngIf="field.key !== 'valor'"
                />
                <mat-error *ngIf="form.get(field.key)?.invalid && form.get(field.key)?.touched">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>

            <!-- Campo de seleção -->
            <mat-form-field *ngIf="field.type === 'select'" appearance="fill" class="form-field">
                <mat-label>{{ field.label }}</mat-label>
                <select matNativeControl [formControlName]="field.key" [required]="field.required">
                    <option *ngFor="let option of field.options" [value]="option.value">
                        {{ option.label }}
                    </option>
                </select>
                <mat-error *ngIf="form.get(field.key)?.invalid && form.get(field.key)?.touched">
                    Este campo é obrigatório
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            {{ submitLabel }}
        </button>
    </form>
</div>